* {
    margin: 0;
    box-sizing: border-box;
    vertical-align: top;
}
.first_block {
    
}
.izi_block {
    display: inline-block;
    margin: 20px 0 0 10px;
    padding: 10px;

}
.border_card {
    border: 5px solid rgb(83, 83, 83);
}
.size_img_dogs {
    height: 200px;
    width: 300px;

}.p.width {
    width: 280px;
    font-size: 14px;
}